ENV=stage
KEYCLOAK_REALM=upgrad-stage
APP_BUNDLE_ID=com.upgrad.student
RUDDER_STACK_ANDROID_KEY=2cR2KF0oTxCKWasfJtyCkf9VV6M
RUDDER_STACK_IOS_KEY=2cR2C8F5r1eLt7iLfrV9Bo2zB0M
RUDDER_STACK_DATA_PLAN_KEY=https:/$()/upgradbalcvjs.dataplane.rudderstack.com
FEEDBACK_URL=https:/$()/nafkf9zd4li.typeform.com/to/PlgeJ65r
OPEN_REPLAY_PROJECT_KEY=542Z8Zzb8nHHpgShryCt
BRIGHTCOVE_ACCOUNT_ID=4744899836001
BRIGHTCOVE_POLICY_KEY=BCpkADawqM19VpQr3q33W4MMj0xAZ3rykWSCMgHaICS-V5P4wcC7N1f4oAjkrjS4zhaj-zZ6Fb_gJFUx7s_AXZZutX_bF3yKiohmjFoO0L7-pZBcch9YQjfN-01DqXRc-4yeIEeBf9AMUaDP
TRUECALLER_CLIENT_ID=ds1tzqin9eu7xaptbrw2mjvwyjkvfy0b2jphri7v9wc
iosAppKey=fbw2pe5d2a2c537e34e76afa7ca29a8522ff3
iosAppLink=https:/$()/si7359df8615bc49449484db86ac3a949e.truecallerdevs.com
BRIGHTCOVE_ENDPOINT=https:/$()/edge.api.brightcove.com/playback/v1/accounts
CODEPUSH_KEY_IOS=epqtX61uvJx_lx_jCqRjrKm4Fj8qEJwvTmz2bg
INSTANA_KEY_ANDROID=w1cMOUQCRBWt7wAA0174GQ
INSTANA_KEY_IOS=w1cMOUQCRBWt7wAA0174GQ
PREFIXES_URL=https:/$()/stage-lxp.upgrad.dev/
GOOGLE_PLACES_API_KEY=AIzaSyB5OzBtqvoAnv6PNMr2dLokE9vJg83Fmqk
CLARITY_PROJECT_ID=siqg02jvqd
SESSION_TIMEOUT=300000
